# Other repo(s)
cloudsim/**/target/
cloudsim/**/out/
cloudsim/**/build/
cloudsim/**/dist/
cloudsim/**/bin/
logs/

# Environments
.env
.devcontainer/devcontainer-lock.json

# Super-linter outputs
super-linter-output
super-linter.log

# Prettier config
.prettierrc

# GitHub Actions leftovers
github_conf
